VENV_NAME=dj-template
autovenv_dir=.venv

ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DJANGO_SETTINGS_MODULE=server.configs.settings

DJANGO_SECRET_KEY=qw9o&#xinw#5x0dmc20(l*irrjn6p=fyxqojnm(p!9aoj+1nf$

POSTGRES_DB=db_name
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DEBUG=True

ADMIN_LOGIN=admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=qwerty

JWT_SECRET_KEY=f3e92ea6115a593afe446782ed56e24d

BROWSER_PATH=/usr/bin/brave
DUMPS_DIR=/home/user/django-template/dumps/
DUMP_NAME=dump_01_02_2025.sql

OPENAI_API_KEY=sk-proj-lkjdsf80389ujfpoSDKJlkj8734j-lksj;ladfj7uH*)&Hl;kjsdlkfjapoiweujf87934
OPENAI_MODEL=gpt-4o-mini
LLM_PRIVATE_PROXY_URL=
LLM_PRIVATE_PROXY_MODELS=


BOT_TOKEN=1234567890:ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz

REDIS_URL=redis://redis:6379/0
SHORT_MEMORY_SIZE=10
SHORT_MEMORY_TTL=86400
FACT_TRIGGER_INTERVAL=5
MAX_PROMPT_TOKENS=8000
STREAM_EDIT_INTERVAL=0.5
LLM_RATE_LIMIT_SECONDS=2