ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DJANGO_SETTINGS_MODULE=server.configs.settings

DJANGO_SECRET_KEY=qw9o&#xinw#5x0dmc20(l*irrjn6p=fyxqojnm(p!9aoj+1nf$

POSTGRES_DB=aff_db
POSTGRES_USER=aff_user
POSTGRES_PASSWORD=aff_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DEBUG=True

ADMIN_LOGIN=admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=qwerty

